<div class="container ">
<div class="row  ">
    <div class="card col s6 ">
     <form action="/links/add" method="post">
      <div class="row">
        <div class="input-field col s6 ">
          <input  name="title" type="text" class="validate">
          <label for="title">Title</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input name="url" type="url" class="validate">
          <label for="url">Url</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <textarea name="description" class="materialize-textarea"></textarea>
          <label for="description">Description</label>
       </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <button type="submit" >Register</button>
       </div>
      </div>
     </form> 
    </div>
  </div>
  </div>