<div class="container ">
<div class="row ">
    <div class="card col s6 offset-s3 ">
     <form action="/signup" method="post">
         <div class="card-title">
                <h2 class="center-align">Signup</h2> 
            </div>
      <div class="row ">
        <div class="input-field col s6  offset-s3 ">
          <input  name="fullname" type="text" class="validate">
          <label for="fullname">Full name</label>
        </div>
      </div>
      <div class="row ">
        <div class="input-field col s6 offset-s3">
          <input name="username" type="text" class="validate">
          <label for="username">User</label>
        </div>
      </div>
      <div class="row ">
        <div class="input-field col s6 offset-s3">
         <input name="password" type="password" id="password" class="validate">
          <label for="password">Password</label>
       </div>
      </div>
      <div class="row ">
        <div class="input-field col s6 offset-s5">
          <button class="btn waves-effect waves-light" type="submit" >Signup</button>
       </div>
      </div>
     </form> 
    </div>
  </div>
  </div>